/*Обнуление*/
body {
  font-family: 'Roboto', sans-serif;
}
.main {
  padding: 1.5rem 0rem;
  background: url(../img/BGforHeader.jpg) center no-repeat;
  background-size: cover;
}
.main header p {
  font-size: 0.9rem;
  font-weight: 300;
  font-style: italic;
  line-height: 18px;
  margin-left: -0.5rem;
}
.main .logo {
  margin-top: -0.5rem;
}
.main .logo img {
  margin-left: -0.5rem;
}
.main .header-one {
  margin-left: -3rem;
}
.main .header-one p {
  margin-left: 0.5rem;
}
.main .header-two {
  margin-left: -0.5rem;
}
.main .header-two p {
  margin-left: 0.5rem;
}
.main .header-three {
  margin-right: -0.5rem;
}
.main .header-three img {
  margin-left: -1.5rem;
}
.main .after-header {
  padding: 1.8rem 0rem;
}
.main .after-header .text-block {
  padding-right: 5rem;
  margin-left: 2.5rem;
}
.main .after-header .text-block h3 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.5rem;
}
.main .after-header .text-block .big-bold {
  font-size: 2.2rem;
  font-weight: bold;
  letter-spacing: 2.5px;
  line-height: 2.5rem;
}
